<div class="container">
  <div class="row">
    <div class="form-container col-sm-8 col-sm-offset-2">
      <h1>Update your business profile</h1>

      <%= render 'business_form' %>
    </div>
  </div>
</div>
