
<div class="container">
  <div class="row">
    <div class="form-container col-sm-8 col-sm-offset-2">
      <div class="text-center">
      <h3>Register your Business</h3>
      </div>

      <%= render 'business_form' %>

    </div>
  </div>
</div>
