<%= simple_form_for [@campaign, @application] do |f| %>
  <%= f.error_notification %>

  <%= f.input :motivation, as: :text  %>

  <div class="text-center">
  <%= f.button :submit, class: "brand-button" %>
  </div>
<% end %>
