<h1 class="text-center" style="margin-bottom: 30px"> Applications </h1>


<% @applications.each do |app| %>
  <div class="business-card-container">
    <p><%= app.influencer.username %></p>
    <div class="business-card-banner" style="background-image: url('http://www.brianhonigman.com/wp-content/uploads/2014/06/tumblr_mucr5ouPLQ1s8jl6ro1_400.gif');"></div>
    <p> #<%= Tag.find(app.influencer_id).name %> </p>
    <hr class="line">
    <%= link_to campaign_application_path(Campaign.find(app.campaign_id), app), class: " business-link brand-button" do%>
        <i class="fa fa-heart-o"></i>    Love it? Check it!
    <% end %>
  </div>
<% end %>
