<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">

    <h1>Businesses</h1>
    <p><%= link_to "View businesses", businesses_path %></p>
    <p><%= link_to "Create a campaign", new_campaign_path %></p>
    <p><%= link_to "View campaigns", campaigns_path %></p>

  </div>
</div>
