<div style="background-color:white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="banner-home" style="background-image: url(<%= image_url 'BackgroundModified.png' %>); ">
           <div class="text-banner">
            <h1> Rethink </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="right-container">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="col-sm-6">
              <%= link_to businesses_home_path do %>
              <i class="fa fa-briefcase"></i>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= link_to influencers_home_path do %>
              <i class="fa fa-bullhorn"></i>
              <% end %>
              <div class="text-banner-left">
                <h1> Instagram posting </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
