.container-show {
  background-color: white;
  padding: 20px;
  border: 1px solid $gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.business-show-banner {
  height: 200px;
  width: 400px
}
