.business-card {
  background: white;
  border: 1px solid $gray-light;
  margin-top: 30px;
  height: 400px;
  border-radius: 4px;
}

.business-card-banner {
  background-size: cover;
  background-position: center-top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 300px;
  margin-bottom: 10px;
}

.business-card > p {
  color: $brand-blue;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: bold;
}


.business-link {
  color: #A3A1A3;
  padding-left: 10px;
  padding-bottom: 30px;
  opacity: 0.8;
}

.business-link:hover {
  text-decoration: none;
  color: #A3A1A3;
  opacity: 1;
}

.line {
  margin-left: 30px;
  margin-right: 30px;
}
