.tabs {
  background: $gray-light;
  display: flex;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
}
.tab {
  background: $gray-light;
  flex: 0 0 25%;
  text-align: center;
  padding: 5px 0;
}
.tab:first-child {
  border-radius: 4px 0 0 0;
}
.tab:last-child {
  border-radius: 0 4px 0 0;
}
.tab.active {
  background: $gray-body;
  border-bottom: solid 4px $flashy-blue;
}
