.tabs {
  background: $brand-blue;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tab {
  background: $gray-light;
  flex: 0 0 50%;
  text-align: center;
  padding: 10px 0;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.active {
  background: $gray-body;
  border-bottom: solid 4px $flashy-blue;
}
