.container-instagram {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-pic {
  background: url('http://cs306907.vk.me/v306907469/5c7e/sZxOUvkycNY.jpg');
  height: 100%;
  background-size: cover;
  background-position: center-top;
  height: 80vh;
  background-repeat: no-repeat;
}

.insta-description {
  height: 80vh;
  background-color: white
}
.wrapper-influencer-show {
  background-color: $gray-light;
  opacity: 0.8;
  max-height: 100vh;
}

