<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <ul>
    <% @campaigns.each do |campaign| %>
      <%= link_to campaign_path(campaign) do %>
      <li><%= campaign.title %> <%= campaign.product %></li>
      <% end %>
    <% end %>
    </ul>

  </div>
</div>
