// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .app-top-pic {
//   border-radius: 40px;
//   width: 125px;
//   padding: 20px;
// }

// .avatar-app {
//   border-radius: 50%;
//   width: 130px;
//   padding: 20px;
// }



// .app-show-left-container {
//   flex: 2
// }
// .app-show-right-container {
//   flex:2;
//   margin-left: 20px
// }

// .app-show-row {
//   margin-top: 20px;
//   display:flex;
// }

// .flexbox-app-show {
//   display: flex;
//   justify-content: space-between;
// }

a:hover {
  text-decoration: none;
}

// .app-status-form {
//   padding-top: 20px;
//   padding-left: 30px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0;
// }

// .app-show-influencer-pics {
//   margin-bottom:0px;
//   margin-bottom: 20px;
//   margin-top: 0;
// }

// .app-infos-container {
//   margin: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }

.app-show-status {
  padding-top: 20px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center
}



// display: flex;
// align-items: center;
// justify-content: space-between



// --------------------------------


.app-show-container {
  height: 100vh;
  padding: 20px;
}


.info-container {
}

.app-top-pic-container {
  height: 350px;
  background-size: cover !important;
  background-position: center center !important;

}
.influencer-card {
  max-width: 500px;
  background-color: white;
  margin: auto;

}

.padding-text {
  padding: 5px 10px;
}

.radio_buttons label {
  margin-left: 20px;
  input {
    margin-right: 5px;
  }
}



.padding-campaign-show{
  padding: 20px;
}


.appliers-pres{
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $gray-body;
// justify-content: space-between;
}
.applier-avatar-large {

}
.applier-first-name {
  padding-left: 10px;
  padding-top: 15px;

}

.applier-first-name p {
  font-size: 25px;
  font-weight: bolder;
}

//  {
// font-size: 15px;
// font-weight: bolder;
// color:$brand-blue;
// }

.top-tags span:nth-child(2),
.top-tags span:nth-child(3),
.top-tags span:nth-child(4) {
  font-size: 15px;
// font-weight: bolder;
color:$gray-dark;
}

//  {
// font-size: 15px;
// font-weight: bolder;
// color:$brand-blue;
// }
.top-places li {
  color:$gray-dark;
}
// .top-places span:nth-child(2),
// .top-places span:nth-child(3),
// .top-places span:nth-child(4) {
// font-size: 15px;
// // font-weight: bolder;
// color:$gray-dark;
// }

.list-places {
  list-style-type: none;
}

.padding-text i {
  font-size: 25px;
}


.line-break {
  border-bottom: 2px solid $gray-body;

}

.average-likes span,
.average-comments span,
.top-places span:nth-child(1),
.top-tags span:nth-child(1),
.motivation span {
  color:$brand-blue;
  font-size: 15px;
  font-weight: bolder;
}

.test {
  height: 100px;
  width:100px;
  background-color: blue;
}

