.business-form-container {
  margin-top: 20px;
  margin-right: 200px;
  margin-bottom: 20px;
  margin-left: 220px;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid $gray-light;
  background-color: white;
}

.container-show {
  background-color: white;
  padding: 20px;
  border: 1px solid $gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.business-show-banner {
  height: 200px;
  width: 400px
}
