// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#local_swaps_wrapper, #paid_jobs_wrapper {
  background: $brand-blue;
  padding: 0 10px 10px 10px;
}

#local_swaps_view, #paid_jobs_view {
  background: $gray-body;
  border-radius: 0 0 4px 4px;
}

.local_swaps, .paid_jobs {
  margin: 20px 0 20px 0;
}

.rightcol {
   height: 79vh;
}

.leftcol {
   overflow-y: auto;
   height: 79vh;
}

.nomargin {
margin-left: 0;
margin-right: 0;

}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
