// Place all the styles related to the influencers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.insta-pic-influencer {
  background: white;
  height: 100%;
  background-size: cover;
  background-position: center-top;
  height: 80vh;
  background-repeat: no-repeat;
}

.app-top-pic-influencer {
  border-radius: 10px;
  width: 200px;
  padding: 20px;
}


.card-carroussel {
  display: flex;
  min-height: 50vh;

}


.card-pic {
  flex: 1;
  position: relative;
  min-height: 50vh;
}

.card-background {
  position: absolute;
  background-size: cover !important;
  // height: 100%;
  // width: 100%;
  // background-position: center center !important;
}
