// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner-home {
  height: 100vh;
  // margin-top: 0px;
  display: flex;
  // margin-bottom: 150px;
}

.left-side{
flex: 1;
position:relative;
}

.right-side{
flex: 1;
position:relative;

}

// .fixed-img img{
//   position:absolute;
//   right:0;
//   bottom: 0;
//   height:80%;
//   z-index: 2;

// }


.hand-bckg img {
  position:absolute;
  right:0;
  bottom: 0;
  height:80%;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  z-index: 1;
}

.bckg img:nth-of-type(3),
.bckg img:nth-of-type(2) {
  height:100%;
}

.bckg img:nth-of-type(1) {
  object-fit: cover;
  width:100%;
  // size:150%;
  // display: block;
}

.bckg img {
  position:absolute;
  right:0;
  height:100%;
  // filter: blur(4px);
  // overflow: hidden;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  z-index: 0;
}


@keyframes FadeInOut {
  0% {
    opacity:1;
  }
  24% {
    opacity:1;
  }
  33% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.hand-bckg img:nth-of-type(1),
.bckg img:nth-of-type(1)
 {
  animation-delay:14s;
}
.hand-bckg img:nth-of-type(2),
.bckg img:nth-of-type(2) {
  animation-delay: 7s;
}
.hand-bckg img:nth-of-type(3),
.bckg img:nth-of-type(3) {
  animation-delay: 0s;
}


.hand-bckg img,
.bckg img {
animation-name: FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 21s;
// animation-direction: alternate;
}



.left-text {
position: absolute;
right: 30px;
top: 40px;
color: white;
z-index: 2;

}

.right-text {
position: absolute;
left: 30px;
top: 40px;
color: $gray-medium;
// z-index: 2;

}

// .text-banner {
//   position: absolute;
//   top:100px;
//   right: 30px;
// }

// .text-banner-left {
//   position: absolute;
//   top:100px;
//   left: 30px;
// }



.text-center-bottom {
position: absolute;
bottom: 100px;
left: 150px;

// text-align: center;
}


.text-center-bottom h1 {
  font-size: 30px;
}


.text-center-bottom h1:hover{
  text-decoration: none;
  font-size:45px;
  transition:1s;
}
